/**
 * 主体通用样式
 */
/*页面字体字高度*/
html{ height: 100%; }
/*页面字体字号*/
body{ height: 100%; font-family: Helvetica Neue,Helvetica,Arial,SimSun,sans-serif; font-size: 12px; color: #363636; }
/*去除默认边距*/
body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, iframe, pre, code, fieldset, legend, form, input, select, textarea, button, p, blockquote, th, td, figure { margin: 0px; padding: 0px; }
/*去除列表点*/
li{ list-style-type: none; }
/*链接默认样式*/
a{ color: #363636; text-decoration: none; }
a{ blr: expression(this.onFocus=this.blur()) }
/*链接悬停样式*/
a:hover{ color: #99cc33; }
/*去除默认获取焦点样式*/
:focus{ outline: none; }
/*文本选中样式*/
body ::selection{ color: #fff; background-color: #99cc33; text-shadow: none; }
/*去除控件默认效果*/
input, button, textarea, .textedit, .btn{ -webkit-appearance: none; -moz-appearance: none; appearance: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border-radius: 0px; } 
/*标签变成块级元素*/
label{ display: block; vertical-align: middle; }

/*字体图标*/
@font-face { font-family: "octicons"; src: url(../font/octicons.woff); }
@font-face { font-family: "fontawesom"; src: url(../font/fontawesom.woff); }

/*边距样式*/
.m-5{ margin: 5px; }
.m-10{ margin: 10px; }
.m-15{ margin: 15px; }
.m-20{ margin: 20px; }
.ml-5{ margin-left: 5px; }
.ml-10{ margin-left: 10px; }
.ml-15{ margin-left: 15px; }
.ml-20{ margin-left: 20px; }
.mr-5{ margin-right: 5px; }
.mr-10{ margin-right: 10px; }
.mr-15{ margin-right: 15px; }
.mr-20{ margin-right: 20px; }
.mt-5{ margin-top: 5px; }
.mt-10{ margin-top: 10px; }
.mt-15{ margin-top: 15px; }
.mt-20{ margin-top: 20px; }
.mb-5{ margin-bottom: 5px; }
.mb-10{ margin-bottom: 10px; }
.mb-20{ margin-bottom: 20px; }
.mr-4cent{ margin-right: 4%; }
.p-5{ padding: 5px; }
.p-10{ padding: 10px; }
.p-15{ padding: 15px; }
.p-20{ padding: 20px; }

/*浮动样式*/
.fl{ float: left; }
.fr{ float: right; }

/*阴影样式*/
.sd-light{ box-shadow: 0 0 5px #ccc; -moz-box-shadow: 0 0 5px #ccc; -webkit-box-shadow: 0 0 5px #ccc; }
.sd-dark{ box-shadow: 0 0 3px #b2b2b2; -moz-box-shadow: 0 0 3px #b2b2b2; -webkit-box-shadow: 0 0 3px #b2b2b2; }

/*定位样式*/
.pos-ab{ position: absolute; }
.pos-re{ position: relative; }

/*激活样式*/
.active-orange{ border:1px solid #ffcc00 !important; } 
.active-green{ border:1px solid #99cc33 !important; } 

/*隐藏样式*/
.ghost{ display:none; }

/*滚动条*/
::-webkit-scrollbar { width: 6px; height: 14px; }
::-webkit-scrollbar-button { display: none; }
::-webkit-scrollbar-thumb{ width:4px; background:#ffee99; height:14px; border-radius:4px; }
::-webkit-scrollbar-track{ /*width:5px; background:#99cc33; height:13px; border-radius:4px;*/ }

/**
 * 表单样式
 */
.form-list{ font-size:14px; padding:20px; background:#fff; max-width:800px; height:100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.form-list > li{ z-index: -1; }
.form-list > li:after{ display:block; content:""; clear:both; }
.form-list > li > .form-wrap{ float: left; position: relative; width: 100%; }
.form-list > li > .form-wrap-2{ width: 48% !important; }
.form-list > li > .form-wrap-3{ width: 30.67% !important; }
.form-list > li > .form-wrap-4{ width: 22% !important; }
.form-list > li .info{ display: block; width: 100%; height: 30px; line-height: 30px; font-size: 12px; overflow: hidden; }
.form-list > li .info > .error{ display: inline; color: #99cc33; margin-left: 5px; }
@media screen and (max-width:768px) {
	.form-list > li .form-wrap-2, .form-list > li .form-wrap-3, .form-list > li .form-wrap-4{ width: 100% !important; }
}
.form-list .form-wrap > .form-item{ position: relative; }
.form-list .form-wrap .icon:after{ position: absolute; top:50%; right:10px; margin-top: -8px; cursor:pointer; }
.form-list .form-wrap [icon]:after{ position: absolute; top:50%; right:10px; margin-top: -8px; cursor:pointer; }
.form-list .form-wrap [class*="icon-"]:after{ position: absolute; top:50%; right:10px; margin-top: -8px; cursor:pointer; }
.form-list .form-wrap .icon-edit:after{ content:"\f058"; color:#99cc33; font: normal normal 16px/1 "octicons"; }
/*文本框*/
.ipt{ width: 100%; border: 1px solid #ccc; padding: 0 10px; }
.ipt.ipt-has-icon{ padding-right: 30px !important; }
.ipt:hover, .textedit:hover{ border: 1px solid #99cc33; }
.ipt:focus, .textedit:focus{ border: 1px solid #ffcc00; }
.ipt.ipt-h-30{ height: 30px; line-height: 30px; font-size: 12px; }
.ipt.ipt-h-42{ height: 42px; line-height: 42px; font-size: 14px; }
.ipt.ipt-w-50{ width: 50%; }
/*文本域*/
.textedit{ width: 100%; height: 86px; border: 1px solid #ccc; padding: 10px; overflow: hidden; line-height: 22px; font-size: 14px; }
/*单选按钮*/
.rdo{ float: left; height: 30px; line-height: 30px; margin-top: 6px; margin-bottom: 6px; border: 1px solid #ccc; background: #fff; border-radius: 3px; color: #363636; min-width: 50px; padding: 0 5px; text-align: center; overflow: hidden; cursor: pointer; }
.rdo:hover{ border:1px solid #99cc33; background:#fff; color:#99cc33; }
.rdo.rdo-selected{ border: 1px solid #99cc33 !important; background: #99cc33 !important; color: #fff !important; }
/*多选按钮*/
.chb[type="checkbox"]{ width: 0; height: 0; display: none; padding-right:10px; }
.chb.chb-h-30 + label{ height: 30px; line-height: 30px; }
.chb.chb-h-42 + label{ height: 42px; line-height: 42px; }
.chb + label{ float: left; position: relative; padding-left:20px; padding-right:10px; cursor: pointer; }
.chb + label:before{ position: absolute; top: 50%; left: 0; content: ""; width: 10px; height: 10px; margin-top: -5px; margin-left:3px; background: #99cc33; border-radius: 2px; z-index:99; display: none; }
.chb + label:after{ position: absolute; top: 50%; left: 0; content: ""; width: 14px; height: 14px; margin-top: -8px; border: 1px solid #ccc; background: #fff; border-radius: 2px; }
.chb + label:hover:after{ border-color:#99cc33; }
.chb:checked + label:after{ border-color:#99cc33; }
.chb:checked + label:before{ display: block; }
/*按钮*/
.btn{ display: block; min-width:150px; height: 42px; line-height: 42px; font-family: "MicroSoft YaHei"; font-size:16px; padding: 0 10px; border-radius: 8px; text-align: center; cursor:pointer; }
.btn.btn-ok{ background: #99cc33; color: #fff; }
.btn.btn-ok:hover{ box-shadow: 0 0 5px #88bb22; }
.btn.btn-ok:active{ background: #88bb22; }
.btn.btn-cancel{ background: #f5f5f5; color:#363636; border: 1px solid #ccc; }
.btn.btn-cancel:hover{ box-shadow: 0 0 5px #ccc; }
.btn.btn-cancel:active{ background: #eee; }
.btn.btn-more{ background: #fff; color: #ffbb00; border:1px solid #ffbb00; }
.btn.btn-more:hover{ box-shadow: 0 0 5px #ffbb00; }
.btn.btn-more:active{ background: #ffcc00; color: #fff; }

@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 2) {
	.ipt{ height: 38px; line-height: 38px; }
}

/*遮罩弹层*/
.mark{ position: fixed; top: 0; left: 0; bottom: 0; right： 0; width: 100%; height: 100%; background: #fff; opacity: 0.8; z-index: 100; display: non; }
.mark-page{ position: fixed; background: #fff; border: 1px solid rgba(153,204,51,1); z-index: 101; box-shadow: 0 0 10px #99cc33; box-sizing: border-box; overflow-y: auto; }
@media screen and (min-width: 769px){
	.mark-page{ top: 10%; left: 20%; width: 60%; height: 80%; }
}
@media screen and (max-width: 768px){
	.mark-page{ top: 5%; left: 5%; width: 90%; height: 90%; }
}

